@(message: String)

@main(title = "Awseract | Home") {
        <div class="jumbotron">
            <h1>Always wanted to get the text from your images? You are in the right place!</h1>
            <p>Do you have images of documents or lectures and wanted to extract the text without manually doin it? Awseract is to rescue!
                Awseract is a fast and distributed tool for extracting text from images. Awseract is powered by Amazon EC2 to deliver
                fast processing in near real-time. The Awseract utilizes the popular Tesseract OCR engine to extract text from images.
            </p>
            <p>&nbsp;</p>
            <p>

                <a href="/upload" class="btn btn-info btn-lg">Try it now!</a>
                <a href="/about" class="btn btn-primary btn-lg">Learn more</a>
            </p>


        </div>
}
