@(message: String)

@main(title = "Awseract | Upload") {

<section markdown="1">
    <div class="jumbotron">
        <div id="dropzone">
            <center>
                <p><i class="icon-cloud-upload icon-5x"></i></p>
                <h2>Drop Files to upload</h2>
            </center>
            @helper.form(action = routes.Application.uploadFile, 'enctype -> "multipart/form-data", 'class -> "dropzone dz-clickable", 'id -> "upload-zone", 'method -> "post") {

            }
        </div>
    </div>
</section>
}




